<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Estados e Cidades - Exemplo</title>
    <script language="JavaScript" type="text/javascript" src="cidades-estados-1.4-utf8.js"></script>
  </head>

  <body>
  
    <select id="estado4"></select>
    <select id="cidade4"></select>
    <script language="JavaScript" type="text/javascript" charset="utf-8">
      new dgCidadesEstados({
        cidade: document.getElementById('cidade4'),
        estado: document.getElementById('estado4')
      })
    </script>
  </body>
</html>